*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(15, 15, 15);
}
.game{
    width: 400px;
    text-align: center;
    font-family: system-ui;
    color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 100px;
}
.title{
    background-color: #530093;
    padding: 0 0 5px 0;
    margin: 5px 0;
    font-size: 60px;
    font-weight: 500;

}
.title span{
    color: rgb(255, 255, 255);
}
.square{
    width: 129px;
    height: 129px;
    background-color: rgb(255, 255, 255);
    margin: 2px;
    float: left;
    font-size: 80px;
    font-weight: 500;
}
.square:hover{
    background-color: #b3b3b3;
}