*{
    margin: 0;
    padding: 0;
}
.game{
    width: 400px;
    text-align: center;
    font-family: system-ui;
    color: white;
    margin: auto;
    margin-top: 100px;
}
.title{
    background-color: #011234;
    padding: 0 0 5px 0;
    margin: 5px 0;
    font-size: 60px;
    font-weight: 500;

}
.title span{
    color: yellow;
}
.square{
    width: 129px;
    height: 129px;
    background-color: rgb(0, 90, 138);
    margin: 2px;
    float: left;
    font-size: 80px;
    font-weight: 500;
}
.square:hover{
    background-color: black;
}